<div>
    <h2 class="text-center pt-6 mt-3" style="font-size: 32px;">Filters</h2>
<mat-divider></mat-divider>
<div class = "row">
    <div class = "column">
        <h4 class="text-xl text-primary"> Brands</h4>
   <mat-selection-list [(ngModel)] = "selectedBrands" [multiple]="true">
    @for( brand of shopService.brands; track $index)
    {
      <mat-list-option [value]="brand"> {{brand}}</mat-list-option>
    }
   </mat-selection-list>
    </div>

    <div class = "column">
        <h4 class="font-semibold text-xl text-primary"> Types</h4>
   <mat-selection-list [(ngModel)]="selectedTypes" [multiple]="true">
    @for( type of shopService.types; track $index)
    {
      <mat-list-option [value]="type"> {{type}}</mat-list-option>
    }
   </mat-selection-list>
    </div>
</div>
</div>
<div class="example-button-row" style="display: flex; justify-content: center; align-items: end;">
  <button mat-flat-button (click) = " applyFilters()">Apply Filters</button>
</div>
