
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img routerlink="/" src="assets/images/amazon-logo.png" alt="Logo" width="75" height="75">
    </a> 

     <div >
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            style="color: black"
            >Home </a>
            <li class="nav-item">
                <a class="nav-link" routerLink="/shop" 
                routerLinkActive="active-link"
                >Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/test-error" routerLinkActive="active-link">Errors</a>
            </li>          
      </ul>
      <a routerLink="/cart" matBadge="5" matBadgeSize="medium" style="margin-right: 10px;"><mat-icon>shopping_cart</mat-icon></a>
      <section>
          <div class="example-button-row">
              <button mat-stroked-button  style="margin-right: 5px;">
                  Login
                </button>
            <button mat-stroked-button>Register</button>
          </div>
        </section>
    </div>
  </nav>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"  style="margin-top: 20px;" class="custom-theme">
    <div class="container" col="m">
        <a class="navbar-brand" href="#">
            <img routerlink="/" src="assets/images/amazon-logo.png" alt="Logo" width="75" height="75">
        </a>

             <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/"
                    routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: true}"
                    style="color: black"
                    >Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shop" 
                    routerLinkActive="active-link"
                    >Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/test-error" routerLinkActive="active-link">Errors</a>
                </li>
            </ul>

            <a matBadge="5" matBadgeSize="medium" style="margin-right: 10px;"><mat-icon>shopping_cart</mat-icon></a>
            <section>
                <div class="example-button-row">
                    <button mat-stroked-button  style="margin-right: 5px;">
                        Login
                      </button>
                  <button mat-stroked-button>Register</button>
                </div>
              </section>
              
        </div>
</nav> -->


