
 <div class="container mt-5 p-4 rounded shadow-lg" style="background-color: rgb(208, 204, 204);">
    <h1 class="text-2xl font-semibold mb-4"> Internal server error </h1> 

    @if( error){
    <h5 class=".text-danger"> Error: {{ error}}</h5>
    <p class="font-bold mt-2"> This error comes from backed not UI</p>
    <p class="mb-2"> What to do next?</p>
    <ol class="list-decimal ml-5 mb-5">
        <li class="mb-1"> Contact administrator to troubleshoot the error </li>
        <li class="mb-1"> Check data consistency</li>
    </ol>
    }
    <h5 class="text-lg font-semibold mb-2"> Stack trace </h5>
    <mat-card>
        <code> {{error}} </code>
    </mat-card>
</div> 
<!-- <div>
    <mat-card>
        {{error}}
    </mat-card>
</div> -->